<!doctype html>
<html lang="en">
  <head>
    <title>Street Gallery</title>
    <link rel="icon" href="../static/img/logo/favicon2.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/loader.css">
    <link rel="stylesheet" href="../static/css/patch_notes.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.11.0/lottie.min.js" integrity="sha512-XCthc/WzPfa+oa49Z3TI6MUK/zlqd67KwyRL9/R19z6uMqBNuv8iEnJ8FWHUFAjC6srr8w3FMZA91Tfn60T/9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="../static/js/home.js"></script> -->
  </head>
  <body>
    <header>
      <ul>
        <a href="{{ url_for('index') }}" id="logo-container">
          <li><img src="../static/img/PublicArt.png" alt="" id="logo"></li>
        </a>
      </ul>
      <ul>
        <a href="{{ url_for('list') }}">
          <li>작품목록</li>
        </a>
        <a href="{{ url_for('quiz') }}">
          <li>퀴즈</li>
        </a>
        <a href="{{ url_for('patch') }}">
          <li>패치노트</li>
        </a>
      </ul>
      {% if session["nickname"] %}
      <ul>
        <a href="{{ url_for('setting') }}">
          <li>{{session["nickname"]}}</li>
        </a>
        <a href="{{ url_for('logout') }}">
          <li>로그아웃</li>
        </a>
      </ul>
      {% else %}
      <ul>
        <a href="{{ url_for('login') }}">
          <li>로그인</li>
        </a>
        <a href="{{ url_for('signup') }}">
          <li>회원가입</li>
        </a>
      </ul>
      {% endif %}
    </header>
    <main>
      <img src="../static/img/PublicArt.png" alt="" id="logo2">
      <hr class="nav-divide">
      <div class="content-block">
        <div class="major-headings">
            <p class="version">작성규칙</p>
            <p class="date">2023.04.23</p>
        </div>
        <hr class="content-block-divide">
        <ul class="patch-list">
            <li class="patch-list-content">첫번째 자리: 기능이 추가되었을 때,<br>패치노트 이외의 페이지가 추가되었을 때,<br>환경구성이 바뀌었을 때</li>
            <li class="patch-list-content">두번째 자리: 패치노트가 만들어지고, 버그를 잡았을 때</li>
            <li class="patch-list-content">세번째 자리: 오타 수정 및 별거 아닌 수정사항들</li>
            <li class="patch-list-content">숫자 카운트는 +1씩 & 윗 자리수가 바뀌면 현재 자리는 0으로</li>
        </ul>
      </div>
      <div class="content-block">
        <div class="major-headings">
          <p class="version">v10.1.0</p>
          <p class="date">2023.05.28</p>
        </div>
        <hr class="content-block-divide">
        <ul class="patch-list">
          <li class="patch-list-content">패치노트 디자인 수정</li>
          <li class="patch-list-content">로고 및 파비콘 제작 & 추가</li>
        </ul>
      </div>
      <div class="content-block">
        <div class="major-headings">
          <p class="version">v10.0.0</p>
          <p class="date">2023.05.27</p>
        </div>
        <hr class="content-block-divide">
        <ul class="patch-list">
          <li class="patch-list-content">상세페이지 지도 추가 및 댓글기능 추가</li>
          <li class="patch-list-content">상세페이지 디자인 수정</li>
        </ul>
      </div>
      <div class="content-block">
        <div class="major-headings">
          <p class="version">v9.3.0</p>
          <p class="date">2023.05.26</p>
        </div>
        <hr class="content-block-divide">
        <ul class="patch-list">
          <li class="patch-list-content">리스트 디자인 수정</li>
          <li class="patch-list-content">메인 디자인 수정</li>
        </ul>
      </div>
      <div class="content-block">
        <div class="major-headings">
          <p class="version">v9.2.0</p>
          <p class="date">2023.05.23</p>
        </div>
        <hr class="content-block-divide">
        <ul class="patch-list">
          <li class="patch-list-content">회원가입 디자인 수정</li>
          <li class="patch-list-content">퀴즈 디자인 수정</li>
        </ul>
      </div>
      <div class="content-block">
        <div class="major-headings">
          <p class="version">v9.1.0</p>
          <p class="date">2023.05.22</p>
        </div>
        <hr class="content-block-divide">
        <ul class="patch-list">
          <li class="patch-list-content">마이페이지 디자인 수정</li>
          <li class="patch-list-content">로그인 디자인 수정</li>
        </ul>
      </div>
      <div class="content-block">
        <div class="major-headings">
          <p class="version">v9.0.0</p>
          <p class="date">2023.05.21</p>
        </div>
        <hr class="content-block-divide">
        <ul class="patch-list">
          <li class="patch-list-content">마이페이지 페이지 완성</li>
        </ul>
      </div>
      <div class="content-block">
        <div class="major-headings">
          <p class="version">v8.0.0</p>
          <p class="date">2023.05.20</p>
        </div>
        <hr class="content-block-divide">
        <ul class="patch-list">
          <li class="patch-list-content">공공미술 능력고사 페이지 완성</li>
        </ul>
      </div>
      <div class="content-block">
        <div class="major-headings">
          <p class="version">v7.0.0</p>
          <p class="date">2023.05.17</p>
        </div>
        <hr class="content-block-divide">
        <ul class="patch-list">
          <li class="patch-list-content">메인페이지 기능완성(내 주위 작품검색)</li>
        </ul>
      </div>
      <div class="content-block">
        <div class="major-headings">
          <p class="version">v6.0.0</p>
          <p class="date">2023.05.15</p>
        </div>
        <hr class="content-block-divide">
        <ul class="patch-list">
          <li class="patch-list-content">도메인 연동완료</li>
        </ul>
      </div>
      <div class="content-block">
        <div class="major-headings">
          <p class="version">v5.0.0</p>
          <p class="date">2023.05.13</p>
        </div>
        <hr class="content-block-divide">
        <ul class="patch-list">
          <li class="patch-list-content">리스트 페이지 제작완료</li>
        </ul>
      </div>
      <div class="content-block">
        <div class="major-headings">
          <p class="version">v4.0.0</p>
          <p class="date">2023.05.12</p>
        </div>
        <hr class="content-block-divide">
        <ul class="patch-list">
          <li class="patch-list-content">로그아웃 제작완료</li>
        </ul>
      </div>
      <div class="content-block">
        <div class="major-headings">
          <p class="version">v3.0.0</p>
          <p class="date">2023.05.11</p>
        </div>
        <hr class="content-block-divide">
        <ul class="patch-list">
          <li class="patch-list-content">회원가입 제작완료</li>
          <li class="patch-list-content">로그인 제작완료</li>          
        </ul>
      </div>
      <div class="content-block">
        <div class="major-headings">
          <p class="version">v2.0.0</p>
          <p class="date">2023.05.03</p>
        </div>
        <hr class="content-block-divide">
        <ul class="patch-list">
          <li class="patch-list-content">파이어베이스 연동완료</li>
        </ul>
      </div>
      <div class="content-block">
        <div class="major-headings">
          <p class="version">v1.2.0</p>
          <p class="date">2023.04.29</p>
        </div>
        <hr class="content-block-divide">
        <ul class="patch-list">
          <li class="patch-list-content">header(navbar) 제작완료</li>
          <li class="patch-list-content">footer 제작완료</li>
          <li class="patch-list-content">로딩화면 제작완료</li>          
        </ul>
      </div>
      <div class="content-block">
        <div class="major-headings">
            <p class="version">v1.1.0</p>
            <p class="date">2023.04.23</p>
        </div>
        <hr class="content-block-divide">
        <ul class="patch-list">
            <li class="patch-list-content">Elastic Beanstalk으로 flask 앱 배포</li>
            <li class="patch-list-content">Github & CodeDeploy를 통한 배포파이프라인 구성</li>
        </ul>
      </div>
      <div class="content-block">
          <div class="major-headings">
              <p class="version">v0.1.0</p>
              <p class="date">2023.04.23</p>
          </div>
          <hr class="content-block-divide">
          <ul class="patch-list">
              <li class="patch-list-content">패치노트 추가</li>
          </ul>
      </div>
    </main>
      <div id="footer2" style="background-color: #f0f6f8; text-align: center; ">
        <div style="width: 90%; margin: 0 auto;">
          <p style="color: #5c818a;">저희 Kapok Team은 꾸준한 발전을 추구합니다.</p>
          <p style="color: #5c818a;">만약 필요한 개선사항이나 의견이 있다면 <span
              style="text-decoration: underline;">seocode0@gmail.com</span>으로 문의 주세요.</p>
        </div>
      </div>
      <footer>
        <div id="footer-imgbox">
          <img src="../static/img/PublicArt.png" alt="">
        </div>
        <div id="footer-sitemap">
          <div class="footer-title">사이트맵</div>
          <ul>
            <a href="{{ url_for('index') }}">
              <li>메인 (가까운 작품 검색)</li>
            </a>
            <a href="{{ url_for('list') }}">
              <li>작품 목록 (전체 작품 리스트)</li>
            </a>
            <a href="{{ url_for('quiz') }}">
              <li>공공미술 능력고사</li>
            </a>
            <a href="{{ url_for('patch') }}">
              <li>패치노트</li>
            </a>
            <a href="{{ url_for('login') }}">
              <li>로그인</li>
            </a>
            <a href="{{ url_for('signup') }}">
              <li>회원가입</li>
            </a>
          </ul>
        </div>
        <div id="footer-teamsite">
          <div class="footer-title">팀 사이트</div>
          <ul>
            <a href="https://github.com/KapokTeam/project-seoul">
              <li>팀 깃허브</li>
            </a>
            <a href="https://github.com/seojaeohcode">
              <li>개발자 깃허브</li>
            </a>
            <a href="https://www.pixiv.net/users/43918969">
              <li>디자이너 픽시브</li>
            </a>
          </ul>
        </div>
        <!-- <div>Follow US</div>
          <div>
            <svg id="pinterest_svg" enable-background="new 0 0 56.693 56.693" id="Layer_1" version="1.1"
              viewBox="0 0 56.693 56.693" width="56.693px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <g>
                <path id="pinterest"
                  d="M28.348,5.158c-13.599,0-24.625,11.023-24.625,24.625c0,10.082,6.063,18.744,14.739,22.553   c-0.069-1.721-0.012-3.783,0.429-5.654c0.473-2,3.168-13.418,3.168-13.418s-0.787-1.572-0.787-3.896   c0-3.648,2.115-6.373,4.749-6.373c2.24,0,3.322,1.682,3.322,3.695c0,2.252-1.437,5.619-2.175,8.738   c-0.616,2.613,1.31,4.744,3.887,4.744c4.665,0,7.808-5.992,7.808-13.092c0-5.397-3.635-9.437-10.246-9.437   c-7.47,0-12.123,5.57-12.123,11.792c0,2.146,0.633,3.658,1.624,4.83c0.455,0.537,0.519,0.754,0.354,1.371   c-0.118,0.453-0.389,1.545-0.501,1.977c-0.164,0.625-0.669,0.848-1.233,0.617c-3.44-1.404-5.043-5.172-5.043-9.408   c0-6.994,5.899-15.382,17.599-15.382c9.4,0,15.588,6.804,15.588,14.107c0,9.658-5.369,16.875-13.285,16.875   c-2.659,0-5.16-1.438-6.016-3.068c0,0-1.43,5.674-1.732,6.768c-0.522,1.9-1.545,3.797-2.479,5.275   c2.215,0.654,4.554,1.01,6.979,1.01c13.598,0,24.623-11.023,24.623-24.623C52.971,16.181,41.945,5.158,28.348,5.158z" />
              </g>
            </svg>
            <img src="../static/img/footer_logo/1-removebg-preview.png" alt="" id="kapok">
            <svg id="github_svg" enable-background="new 0 0 32 32" id="Layer_1" version="1.0" viewBox="0 0 32 32" width="32px"
              xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path clip-rule="evenodd" id="github"
                d="M16.003,0C7.17,0,0.008,7.162,0.008,15.997  c0,7.067,4.582,13.063,10.94,15.179c0.8,0.146,1.052-0.328,1.052-0.752c0-0.38,0.008-1.442,0-2.777  c-4.449,0.967-5.371-2.107-5.371-2.107c-0.727-1.848-1.775-2.34-1.775-2.34c-1.452-0.992,0.109-0.973,0.109-0.973  c1.605,0.113,2.451,1.649,2.451,1.649c1.427,2.443,3.743,1.737,4.654,1.329c0.146-1.034,0.56-1.739,1.017-2.139  c-3.552-0.404-7.286-1.776-7.286-7.906c0-1.747,0.623-3.174,1.646-4.292C7.28,10.464,6.73,8.837,7.602,6.634  c0,0,1.343-0.43,4.398,1.641c1.276-0.355,2.645-0.532,4.005-0.538c1.359,0.006,2.727,0.183,4.005,0.538  c3.055-2.07,4.396-1.641,4.396-1.641c0.872,2.203,0.323,3.83,0.159,4.234c1.023,1.118,1.644,2.545,1.644,4.292  c0,6.146-3.74,7.498-7.304,7.893C19.479,23.548,20,24.508,20,26c0,2,0,3.902,0,4.428c0,0.428,0.258,0.901,1.07,0.746  C27.422,29.055,32,23.062,32,15.997C32,7.162,24.838,0,16.003,0z"
                fill="#181616" fill-rule="evenodd" />
              <g />
              <g />
              <g />
              <g />
              <g />
              <g />
            </svg>
          </div> -->
      </footer>
    <script>
      var lottieAnim = lottie.loadAnimation({
          container: document.getElementById("animContainer"), // the dom element that will contain the animation
          renderer: 'svg',
          loop : true,
          autoplay : true,
          path: 'https://assets6.lottiefiles.com/temp/lf20_92d2Bu.json' // the path to the animation json
      });
    </script>
    <script>
      window.addEventListener("load", function () {
        document.querySelector(".loader").className = 'loaded';
      });
    </script>
  </body>
</html>